.titulo-representantes {
  text-align: center;
  padding: 50px 0px;
  font-size: 2.5rem;
}
.representante-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.representante-container-img-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  /* gap: 10px; */
  margin: 20px 20px;
}

.representante-container-img-title__img {
  width: 30%;
}

.representante-container-img-title__img img {
  width: 100%;
  padding-left: 15px;
}

.representante-container-img-title__txt {
  width: 50%;
}
.representante-container-img-title__txt h3 {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 0;
}

.representante-container-img-title__txt h4 {
  font-size: 15px;
  padding: 0;
}
.representante-container-img-title__txt h5 {
  font-size: 15px;
  padding: 0;
}

.representante-container-desc {
  padding: 20px 30px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.representante-container-logo {
  margin: auto;
  padding: 50px 0px;
}

.representante-container-logo img {
  width: 150px;
}
hr {
  margin-bottom: 20px;
}

/*     TABLET MEDIA QUERIES          */

@media (min-width: 768px) {
  .representante-1 {
    margin: 100px 0px;
  }
  .representante-container-img-title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
  }
}

/*         PC MEDIA QUERIES                    */

@media (min-width: 1280px) {
  .representante-1 {
    width: 800px;
    margin: auto;
    padding: 90px 0px;
  }
}
