h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0px;
}
hr {
  margin-bottom: 20px;
}
.container-principal-contacto {
  width: 100%;
}
.container-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.container-contacto__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  font-size: 18px;
  text-align: justify;
}

.container-contacto__card h3 {
  font-size: 40px;
  padding: 10px 0px;
  color: var(--primary);
}
.container-contacto__card p {
  font-size: 25px;
  padding: 20px 0px;
}
.container-contacto__card h4 {
  font-size: 25px;
  padding: 20px 0px;
}
.logo-insta {
  height: 80px;
  width: 80px;
  color: black;
  transition: 0.5s ease-in-out;
  margin-top: 50px;
}
.logo-insta:hover {
  color: var(--primary);
}

.numeros-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.correo-container {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  justify-content: center;
  align-items: center;
}
.correo-container h4 {
  text-align: center;
}

/*     TABLET MEDIA QUERIES          */

@media (min-width: 768px) {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px 0px;
  }
  hr {
    margin-bottom: 20px;
  }

  .container-contacto {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }

  .container-contacto__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    text-align: justify;
    width: 100%;
  }

  .container-contacto__card h3 {
    font-size: 40px;
    padding: 10px 0px;
    color: var(--primary);
  }
  .container-contacto__card p {
    font-size: 25px;
    padding: 20px 0px;
  }
  .container-contacto__card h4 {
    font-size: 25px;
    padding: 20px 0px;
  }
  .logo-insta {
    height: 80px;
    width: 80px;
    color: black;
    transition: 0.5s ease-in-out;
    margin-top: 50px;
  }
  .logo-insta:hover {
    color: var(--primary);
  }

  .numeros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .correo-container {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
    justify-content: center;
    align-items: center;
  }
  .correo-container h4 {
    text-align: center;
  }
}

/*         PC MEDIA QUERIES                    */

@media (min-width: 1280px) {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px 0px;
  }
  hr {
    margin-bottom: 20px;
  }

  .container-contacto {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }

  .container-contacto__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    text-align: justify;
    width: 100%;
  }

  .container-contacto__card h3 {
    font-size: 40px;
    padding: 10px 0px;
    color: var(--primary);
  }
  .container-contacto__card p {
    font-size: 25px;
    padding: 20px 0px;
  }
  .container-contacto__card h4 {
    font-size: 25px;
    padding: 20px 0px;
  }
  .logo-insta {
    height: 80px;
    width: 80px;
    color: black;
    transition: 0.5s ease-in-out;
    margin-top: 50px;
  }
  .logo-insta:hover {
    color: var(--primary);
  }

  .numeros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .correo-container {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
    justify-content: center;
    align-items: center;
  }
  .correo-container h4 {
    text-align: center;
  }
}
