.header-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.5) url("../../cielo.webp");
  background-color: #12a4fe54;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container__titles {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.header-container__titles h1 {
  font-size: 3rem;
}

.header-container__titles p {
  font-size: 20px;
  text-align: justify;
  padding: 30px 30px;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container h3 {
  font-size: 40px;
  text-align: center;
  padding: 30px 0px;
}

.main-container p {
  font-size: 25px;
  text-align: justify;
  padding: 20px 20px;
}

.section-container {
  width: 100%;
  height: 400px;
  position: relative;
  background: rgba(0, 0, 0, 0.5) url("../../cielo-desierto.webp");
  background-color: #12a4fe54;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.section-container h3 {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}

.section-container__p {
  margin: 50px 0px;
}
.section-container__p p {
  font-size: 25px;
  text-align: justify;
  padding: 20px 20px;
}

.container-nuevas-realidades {
  width: 100%;
  height: 400px;
  position: relative;
  background: rgba(0, 0, 0, 0.5) url("../../lentes-realidad-virtual.webp");
  background-color: #00000054;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.container-nuevas-realidades p {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

/*     TABLET MEDIA QUERIES          */

@media (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
  }
  .header-container__titles {
    width: 60%;
    margin-top: 100px;
  }
  .header-container__titles h1 {
    font-size: 4rem;
  }
  .header-container__titles p {
    font-size: 25px;
  }
  .section-container h3 {
    padding-left: 50px;
  }
  .container-nuevas-realidades {
    height: 600px;
  }
}

/*         PC MEDIA QUERIES                    */

@media (min-width: 1280px) {
  .main-container h3 {
    font-size: 4rem;
    text-align: center;
    padding: 30px 0px;
  }

  .main-container p {
    font-size: 30px;
    padding: 20px 250px;
  }

  .section-container {
    height: 600px;
  }

  .section-container h3 {
    font-size: 4rem;
  }

  .section-container__p {
    margin: 50px 0px;
  }
  .section-container__p p {
    font-size: 30px;
    padding: 200px 250px;
  }

  .container-nuevas-realidades {
    height: 1000px;
  }

  .container-nuevas-realidades p {
    font-size: 4rem;
    padding-left: 50px;
  }
}
