@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
  --primary: #38b6ff;
  --secondary: #009eff;
  --white: #ffffff;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.App {
  width: 100%;
  background-color: #f9fafe;
}
